section.timeline-module {

	div#visjs {

		div.labelset {
			display: none;
		}
		div.text.minor {
			font-size: 0.7em;
			color: #abb9c2;
		}
		div.text.major {
			font-size: 0.8em;
			color: #abb9c2;
		}
		div.foreground div.group {
			border-bottom: 1px solid #cfd6d9;

			&:last-child {
				border-bottom: none;
			}
		}
		div.timeaxis.background div.grid.vertical.major {
			border-color: #e6e9eb;
		}
		div.timeaxis.background div.grid.vertical.minor {
			border-color: lighten(#e6e9eb, 5%);
		}
		div.thumb {
			top: 0 !important;
			padding: 0;

			div.content {
				display: block;

				div.crop {
					width: 100%;
					height: 100%;
					overflow: hidden;

					img {
						width: 100%;
					}
				}
			}
		}
		div.box {

			i.item-icon {
				margin-right: 4px;
				font-size: 0.9em;
			}
			span.item-label {
				font-size: 0.8em;
			}
		}
		div.event, div.event-callback, div.dom-hook {
			border-width: 1px;

			div.content {

			}
		}
		div.event {
			color: $event-text;
			background-color: $event-background;
			border-color: $event-border;

			&.selected {
				background-color: $event-selected;
			}
		}
		div.event-callback {
			color: $event-callback-text;
			background-color: $event-callback-background;
			border-color: $event-callback-border;

			&.selected {
				background-color: $event-callback-selected;
			}
		}
		div.dom-hook {
			color: $dom-hook-text;
			background-color: $dom-hook-background;
			border-color: $dom-hook-border;

			&.selected {
				background-color: $dom-hook-selected;
			}
		}
		div.box.event-callback::before, div.box.dom-hook::before {
			content: url('/arrow.png');
			position: relative;
			top: -6px;
			right: calc((100% / 2) + 13px);
		}
	}
}