html {
	width: 100%;
	height: 100%;

	body {
		margin: 0;
		width: 100%;
		height: 100%;

		div#app {
			width: 100%;
			height: 100%;

			div.page {
				width: 100%;
				height: 100%;

				div.layout {
					width: 100%;
					height: 100%;
					overflow: auto;
				}

				&#timeline {
					overflow: auto;

					section.header-module {
						width: 100%;
						height: 90px;
					}
					section.code-module {
						float: left;
						width: calc(50% - 1px);
						height: calc(100% - 90px - 280px);
					}
					section.video-module {
						float: left;
						width: 50%;
						height: calc(100% - 90px - 280px);

						video {
							width: 100%;
							height: 100%;
						}
					}
					section.timeline-module {
						clear: both;
						width: 100%;
						height: 280px;
					}
				}
			}
		}
	}
}